<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Garage Portal</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Garage Order Overview</h3>
    <a th:href="@{/createOrder}" class="btn btn-primary btn-sm mb-3">Create Garage Order</a>
    <table style="width:80%" border="1"
           class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>OrderNumber</th>
            <th>EditorId</th>
            <th>VehicleId</th>
            <th>LicensePlate</th>
            <th>Mileage</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>CreationDate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order:${orderList}">
            <td th:text="${order.orderNumber}"></td>
            <td th:text="${order.editorId}"></td>
            <td th:text="${order.vehicleId}"></td>
            <td th:text="${order.licensePlate}"></td>
            <td th:text="${order.mileage}"></td>
            <td th:text="${order.customerName}"></td>
            <td th:text="${order.lastName}"></td>
            <td th:text="${order.creationDate}"></td>
            <td><a th:href="@{/showOrderDetails/{id}(id=${order.id})}"
                   class="btn btn-primary">Show details</a>
            </td>

            <!-- <td> <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}"
                     class="btn btn-primary">Update</a>
                 <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}"
                    class="btn btn-danger">Delete</a>
             </td> -->
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
