<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Garage Portal</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Garage Order Details</h3>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Garage Order Overview</a>
    <table border="1" class="table table-striped table-responsive-md">
        <tr>
            <td>Order Id</td>
            <td><label th:text="${order.id}"/></td>
        </tr>
        <tr>
            <td>Order Number</td>
            <td th:text="${order.orderNumber}"></td>
        </tr>
        <tr>
            <td>Editor Id</td>
            <td th:text="${order.editorId}"></td>
        </tr>
        <tr>
            <td>Vehicle Id</td>
            <td th:text="${order.vehicleId}"></td>
        </tr>
        <tr>
            <td>License Plate</td>
            <td th:text="${order.licensePlate}"></td>
        </tr>
        <tr>
            <td>Mileage</td>
            <td th:text="${order.mileage}"></td>
        </tr>
        <tr>
            <td>Customer Name</td>
            <td th:text="${order.customerName}"></td>
        </tr>
        <tr>
            <td>Customer Last Name</td>
            <td th:text="${order.lastName}"></td>
        </tr>
        <tr>
            <td>Postal Code</td>
            <td th:text="${order.postalCode}"></td>
        </tr>
        <tr>
            <td>Creation Date</td>
            <td th:text="${order.creationDate}"></td>
        </tr>
        <tr>
            <td>End Date</td>
            <td th:text="${order.endDate}"></td>
        </tr>
    </table>

    <table style="width:80%" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>PositionId</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="position:${order.orderPositionDataDboList}">
            <td th:text="${position.positionId}"></td>
            <td th:text="${position.positionDescription}"></td>
            <td th:text="${position.quantity}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
